run/*
run/
run
runs/*
runs/
runs
old_data/*
old_data/
__pycache__/
bigdata/
word2vec/
*.bin
*.meta
*.index
*.data*
*.loca
.git.bfg-report/
*.tfrecords
.idea/
./data/new_data/word2vec.npy
./data/np/word2vec.npy
